{#
/**
 * @file
 * Socialbase's theme implementation to display a page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% if page.header %}
  {{ page.header }}
{% endif %}

{# display hero below header fullwidth #}

 {% if page.hero %}
    {{ page.hero }}
  {% endif %}
  

<main id="content" class="main-container" role="main">

  {% if page.breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}

 {#  {% if page.hero %}
    {{ page.hero }}
  {% endif %} #}

  {% if page.secondary_navigation %}
    {{ page.secondary_navigation }}
  {% endif %}

  {% if page.content_top %}
    {{ page.content_top }}
  {% endif %}

  {# Content, see Style guide Templates for documentation #}
  {%
    set content_classes = [
      'row',
      'container',
      page.title and display_page_title ? 'with-title-region',
      page.complementary_top or page.complementary_bottom ? 'layout--with-complementary',
      page.sidebar_first is empty and page.sidebar_second is empty ? 'layout--with-complementary',
      page.complementary_top is empty and page.complementary_bottom is empty and page.sidebar_first and page.sidebar_second ? 'layout--with-three-columns',
      page.complementary_top is empty and page.complementary_bottom is empty and page.sidebar_second is empty and page.sidebar_first ? 'layout--with-two-columns',
      page.complementary_top is empty and page.complementary_bottom is empty and page.sidebar_first is empty and page.sidebar_second ? 'layout--with-two-columns',
    ]
  %}

  <section{{ content_attributes.addClass(content_classes) }}>

    {% if page.title and display_page_title %}
      {{ page.title }}
    {% endif %}

    {% if page.complementary_top or page.complementary_bottom %}
      <aside class="region--complementary" role="complementary">
        {% if page.complementary_top %}
          {{ page.complementary_top }}
        {% endif %}
        {% if page.complementary_bottom %}
          {{ page.complementary_bottom }}
        {% endif %}
      </aside>
    {% endif %}

    {% block content %}
      <a id="main-content" tabindex="-1"></a>
      {{ page.content }}
    {% endblock %}

    {# an extra check for complementary regions to be empty #}
    {% if page.sidebar_first and not page.complementary_top and not page.complementary_bottom %}
      {% block sidebar_first %}
        {{ page.sidebar_first }}
      {% endblock %}
    {% endif %}

    {# an extra check for complementary regions to be empty #}
    {% if page.sidebar_second and not page.complementary_top and not page.complementary_bottom %}
      {% block sidebar_second %}
        {{ page.sidebar_second }}
      {% endblock %}
    {% endif %}

  </section>

  {% if page.content_bottom %}
    {{ page.content_bottom }}
  {% endif %}

</main>

{% if page.footer %}
  {{ page.footer }}
{% endif %}
