.brand-bg-primary {
  background-color: transparent !important;
  border-color: transparent !important;
}

.brand-bg-secondary {
  background-color: #1f80aa !important;
  border-color: #1f80aa !important;
}

.brand-bg-accent {
  background-color: #ffc142 !important;
  border-color: #ffc142 !important;
}

.brand-text-primary {
  color: #33b5e5 !important;
  fill: #33b5e5 !important;
}
