.form-control {
  color: #555555;
  background-color: #fff;
  border: 1px solid #adadad;
  border-radius: 0;
}

.form-control:focus {
  border-color: #29abe2;
  outline: 0;
  border-bottom: 1px solid #29abe2;
  /*box-shadow: 0 2px 0 0 #29abe2;*/
  box-shadow: none;
}

.form-control::-moz-placeholder {
  color: #999;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control[disabled], .form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff;
  opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
  background: #1d789e;
  border: 2px solid #1d789e;
}

input[type='range']::-ms-thumb {
  background: #1d789e;
  border: 2px solid #1d789e;
}

input[type='range']::-moz-range-thumb {
  background: #1d789e;
  border: 2px solid #1d789e;
}

[type="radio"]:checked + label {
  color: #1d789e;
}

[type="radio"]:checked + label:before {
  border: 2px solid #1d789e;
}

[type="radio"]:checked + label:after {
  border: 2px solid #1d789e;
  background-color: #1d789e;
}

[type="radio"]:focus + label:before {
  box-shadow: 0 0 3px 2px #56bde8;
}

[type="checkbox"]:checked + label:after {
  border: 2px solid #1d789e;
  background-color: #1d789e;
}

[type="checkbox"].tabbed:checked:focus + label:after {
  background-color: #1d789e;
  border-color: #1d789e;
}

.switch input[type=checkbox]:checked + .lever {
  background-color: #72afc8;
}

.switch input[type=checkbox]:checked + .lever:after {
  background-color: #1d789e;
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(29, 120, 158, 0.1);
}

.input-group .select-wrapper:first-child .form-control:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.input-group .select-wrapper:last-child .form-control:first-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.has-error .select-wrapper:after {
  color: #a94442;
}

.has-success .select-wrapper:after {
  color: #3c763d;
}

.has-warning .select-wrapper:after {
  color: #8a6d3b;
}
