.cover {
  color: white;
  background-color: #29abe2;
}

.page-title {
  color: white;
}

.hero-avatar {
  border-radius: 50%;
  border: 2px solid white;
}

.hero-canvas {
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
}

.hero-form[role='search'] .form-control {
  border-radius: 5px;
}

.hero-form[role='search'] .form-control:focus, .hero-form[role='search'] .form-control:active,
.hero-form[role='search'] .form-control:focus ~ .search-icon,
.hero-form[role='search'] .form-control:active ~ .search-icon {
  border-bottom: 1px solid #1f80aa;
  box-shadow: 0 2px 0 0 #1f80aa;
}

.hero-form[role='search'] .form-submit,
.hero-form[role='search'] .search-icon {
  border-radius: 0 5px 5px 0;
}

.hero-form[role='search'] .search-icon {
  fill: #29abe2;
  background: white;
}

/*slider styles*/

.slider-wrapper .caption {
    position: absolute;
    z-index: 1;
    top: 35%;
    color: #fff;
    left: 25%;
    right: 25%;
}


@media (min-width: 600px) {

  .hero-avatar {
    border-width: 3px;
  }
}
