/*overrde the base styles here*/
.navbar {
    position: relative;
    min-height: 102px;
    margin-bottom: 0;
    font-family: 'helveticainserat-roman';
    
}

.navbar-brand > img {
    display: block;
    pointer-events: none;
    width: auto;
    min-height: 102px;
}

.navbar-brand {
    display: inline-block;
    vertical-align: top;
    height: auto;
    max-width: 200px;
    overflow: hidden;
}

.navbar-nav > li > a {
    padding-top: 0 !important;
    padding-bottom: 1.9rem !important;
    line-height: 3rem !important;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 0.5em 0.9em !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.nav > li.disabled > a {
  color: #777;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  color: #777;
}

.navbar-toggle {
  border-radius: 10px;
}

.navbar-default {
  padding-top: 3rem;
  /*background-color: #000000;*/
  background-color: rgba(0,0,0,.3);
  border-color: white;
  position: absolute !important;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e6e6e6;
  /*background-color: #1d789e;*/
}

.navbar-default .navbar-nav > li > a {
  color: white;
  fill: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e6e6e6;
  fill: #e6e6e6;
  background-color: #f80f6f;
}

.navbar-right.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e6e6e6;
    fill: #e6e6e6;
     background-color: transparent  !important ;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  fill: white;
  background-color: #0d0d0d;
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  fill: #ccc;
  background-color: transparent;
}

.navbar-default .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > li > a:focus {
  background-color: #f5f5f5;
}

.navbar-default .dropdown-menu > li > a.is-active {
  background-color: #e6e6e6;
  color: #4d4d4d;
  font-weight: 500;
}

.navbar-default .dropdown-menu > .active > a, .navbar-default .dropdown-menu > .active > a:hover, .navbar-default .dropdown-menu > .active > a:focus {
  background-color: #1f80aa;
  color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #222222;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white;
  /*margin-top: 0.7rem;*/
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #0d0d0d;
  color: white;
}

.navbar-brand {
  background: #2189b5;
}

.navbar-default .dropdown img {
  border-radius: 50%;
}

.navbar-default .profile img {
  border: 2px solid white;
  margin-top: 0.4rem;
}

.navbar-form[role='search'] .form-group {
  border-radius: 5px;
  float: right;
}

.navbar-form[role='search'] .form-submit,
.navbar-form[role='search'] .search-icon {
  border-radius: 0 5px 5px 0;
}

.navbar-form[role='search'] .search-icon {
  fill: #29abe2;
  background: white;
}

.top-search {
    width: 100%;
    float: left;
    margin: 0 4rem;
}

#navbar-search.is-open .search-icon,
.no-js #navbar-search .search-icon {
  /*background: white;*/
  fill: #fff;
  border-radius: 0 5px 5px 0;
}

.navbar-secondary {
  background-color: #1f80aa;
}

.navbar-secondary .navbar-nav li:not(.active) a:hover,
.navbar-secondary .navbar-nav li:not(.active) a:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom-color: rgba(0, 0, 0, 0.3);
}

.navbar-scrollable:after {
  background: -webkit-linear-gradient(left, rgba(31, 128, 170, 0), #1f80aa);
  background: linear-gradient(to right, rgba(31, 128, 170, 0), #1f80aa);
}

.navbar-form {
    padding: 0 !important;
    border: 0;
}

.navbar-form[role='search'] .form-submit, .navbar-form[role='search'] .search-icon {
    width: 40px;
    height: 38px;
    display: block;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    line-height: 38px;
    cursor: pointer;
    text-align: center;
}

@media (min-width: 900px) {

  /* move menu */
  .navbar-fixed-top .navbar-nav {
    margin-left: 4rem;
  }

  .navbar-search {
    float: left;
  }

  .navbar-form {
    width: auto;
     margin: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
}
  
  .navbar-form[role='search'] .form-control {
    background: transparent;
    border-bottom: 1px solid;
    padding: 0;
    margin: 0 2px;
}

  .navbar-form[role='search'] .form-submit {
    background: white;
  }

  .navbar-form[role='search'] .search-icon {
    border-radius: 0;
    background: #f80f6f;
    fill: #000;
    border: 1px solid #333;
  }
}

@media (max-width: 599px) {

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e6e6e6;
    background-color: #1a8dbe;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #0d0d0d;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

@media (max-width: 899px) {

  .navbar-collapse .dropdown-menu li a {
    color: white;
  }

  .navbar-collapse .dropdown-menu li a:hover, .navbar-collapse .dropdown-menu li a:focus {
    background-color: #1f80aa;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #4d4d4d;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #404040;
    background-color: #f5f5f5;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #1f80aa;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #4d4d4d;
    background-color: #777;
  }
}
